
/* body {

 */

 h1 {
	color:maroon;
    font-weight: 600;
    font-size: 3rem;
}
.icon{
    color: black;
    transition:color 0.2s;
    text-decoration: none;
}
.icon :hover{
    color:red;
}
/* footer*/
footer{
    border-top: 1px solid black;

}
/* contage page  */
.iconn{
    font-size: 90px;
    color:chocolate;

}

.contactt{
   font-size: 70px;
   margin-bottom: 50px;
   margin-top: -8px;
   
}

/* main */
.email{
    color:darkgrey;
    font-size: 20px;
    border: 1px solid black;
}
.message{
    color: darkgrey;
    font-size: 20px;
    border: 1px solid black;
}